@using Newtonsoft.Json
@model ExchangeRates.DataService.ChartModel

<!DOCTYPE html>
<html>
   <body>
      <div id="container"></div>
      @Html.ActionLink( "Back", "Index")
   </body>
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
   <script src="http://code.highcharts.com/highcharts.js"></script>
   <script type="text/javascript">
      jQuery(document).ready(function () {
         var chart = new Highcharts.Chart(
           {
              chart: {
                 renderTo: "container",
                 type: 'line',
                 height: 300
              },
              title: {
                 text: "Exchange Rates"
              },
              xAxis: {
                 categories: @Html.Raw(JsonConvert.SerializeObject(Model.Dates))
                       },
                    yAxis: {
                       title: {
                          text: 'Rate'
                       }
                    },
                    series: [{ name: "Date", data: @Html.Raw(JsonConvert.SerializeObject(Model.Rates)) }]
                 }
           );
            });
   </script>
</html>

